<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tuten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formLogin">

    <ion-item>
      <ion-label position="floating">
        Email <strong text-wrap color="danger">*</strong>
      </ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['email'].errors?.pattern && 
                    (formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
      <ion-label  text-wrap color="danger" >
        Formato de email incorrecto
      </ion-label>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['email'].errors?.required && 
                    (formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
      <ion-label  text-wrap color="danger" >
        Campo requerido
      </ion-label>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['email'].errors?.minlength && 
                    (formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
      <ion-label  text-wrap color="danger" >
        Mínimo {{ formLogin.get('email').errors.minlength.requiredLength}} caracteres
      </ion-label>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['email'].errors?.maxlength && 
                    (formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
      <ion-label  text-wrap color="danger" >
        Máximo {{formLogin.get('email').errors.maxlength.requiredLength}} caracteres
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Password <strong text-wrap color="danger">*</strong>
      </ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
          

    <ion-item *ngIf="formLogin.controls['password'].errors?.required && 
                    (formLogin.controls['password'].touched || formLogin.controls['password'].dirty)">
      <ion-label  text-wrap color="danger" >
        Campo requerido
      </ion-label>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['password'].errors?.minlength && 
                    (formLogin.controls['password'].touched || formLogin.controls['password'].dirty)">
      <ion-label  text-wrap color="danger" >
        Mínimo {{ formLogin.get('password').errors.minlength.requiredLength}} caracteres
      </ion-label>
    </ion-item>

    <ion-item *ngIf="formLogin.controls['password'].errors?.maxlength && 
                    (formLogin.controls['password'].touched || formLogin.controls['password'].dirty)">
      <ion-label  text-wrap color="danger" >
        Máximo {{formLogin.get('password').errors.maxlength.requiredLength}} caracteres
      </ion-label>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block"
                  type="button" 
                  class="ion-no-margin"
                  [disabled]="!formLogin.valid || btnLogin" 
                  (click)="login()"> 
        <ion-spinner *ngIf="btnLogin"></ion-spinner> Iniciar sesión
      </ion-button>
    </div>
    
  </form>
     
</ion-content>