<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary" translucent >
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item
        (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
          <ion-label> Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-row *ngIf="loading">
        <ion-list-header>
          <ion-label>
            Espere un momento por favor
          </ion-label>
        </ion-list-header>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-row>
      
      <ion-row *ngIf="!loading">

        <ion-list>
          <ion-item>
            <ion-label>Filtro de busqueda:</ion-label>
            <ion-select value="{{filter}}"
                        #sf
                        (ionChange)="selectFilter(sf.value)">
              <ion-select-option value="BookingId">BookingId</ion-select-option>
              <ion-select-option value="Precio">Precio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-row
          *ngIf="filter == 'BookingId'">
          <ion-col>
            <ion-searchbar placeholder="Buscar"
                    #inputBookingId 
                    (keyup)="searchCustomerBookingId(inputBookingId.value)"
                    (keypress)="_validation.onlyNumbers($event.keyCode || $event.which)"></ion-searchbar>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="filter == 'Precio'">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Precio mínimo</ion-label>
              <ion-input [(ngModel)]="priceMin" 
                        (keyup)="searchCustomerbookingPrice()"
                        (keypress)="_validation.onlyPrices($event.keyCode || $event.which)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Precio máximo</ion-label>
              <ion-input [(ngModel)]="priceMax"
                        (keyup)="searchCustomerbookingPrice()"
                        (keypress)="_validation.onlyPrices($event.keyCode || $event.which)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-card *ngFor="let customer of customers">
          <ion-card-content>
            <p>
              <strong>BookingId:</strong> {{ customer.bookingId }}
            </p>
            <p>
              <strong>Cliente:</strong> {{ customer.tutenUserClient.firstName }} {{ customer.tutenUserClient.lastName }}
            </p>
            <p>
              <strong>Fecha de Creación:</strong> {{ customer.bookingTime | date : format : timezone }}
            </p>
            <p>
              <strong>Dirección:</strong> {{ customer.locationId.streetAddress }}
            </p>
            <p>
              <strong>Precio:</strong> {{ (customer.parentBooking != undefined ? customer.parentBooking.bookingPrice : '0') | currency }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-row>

    </ion-content>
  </div>
</ion-app>
  

  

